.container
  .content_right
    = render 'commons/content_right'

  .content_left
    %p.font-weight-bold いいねした投稿
    - @posts.each do |post|
      = render 'commons/post', post: post

    = paginate @posts