.container
  .content_right
    = render 'commons/content_right'

  .content_left
    %p.font-weight-bold いいねした投稿
    - if @posts.present?
      - @posts.each do |post|
        = render 'commons/posts', post: post
    - else 
      %p.mt-3 いいねした投稿はありません
    = paginate @posts