.tag_wrap
  %p.font-weight-bold タグで探す
  - @tag_lists.each do |list|
    = link_to list.tag_name, posts_path(tag_id: list.id), data: {"turbolinks" => false},class: 'tag_list'
  %div
    = link_to 'タグ一覧へ', tags_path, data: {"turbolinks" => false}, class: 'tag_index_link'