- if user_signed_in?
  - if current_user&.has_liked?(post)
    = link_to image_tag('heart_red.png'), post_like_path(post.id), method: :delete, remote: true, class: 'post_heart active_heart'
  - else
    = link_to image_tag('heart_white.png'), post_like_path(post.id), method: :post, remote: true, class: 'post_heart inactive_heart'