- if @messages.present?
  - @messages.each do |message|
    - if message.user.id == current_user.id 
      .my_talk
        .my_talk_content= message.content
        .my_talk_img= image_tag message.user.avatar_image, class: 'msg_avatar'
      .clear
    - else 
      .chat
        .talk_img= image_tag message.user.avatar_image, class: 'msg_avatar'
        .talk_content= message.content
      .clear
- else
  %p メッセージはまだありません
  