.container
  .content_right
    = render 'commons/content_right'    
  .content_left
    %h4 投稿一覧

    - @posts.each do |post|
      = render 'commons/post', post: post
    
    = paginate @posts

  
  