/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import '_variables';
 @import 'header';
 @import 'footer';
 @import 'profile';
 @import 'tags';
 @import 'posts';
 @import 'paginate';
 @import 'dropdown';
 @import 'show_images';
 @import 'question';
 @import 'error_msg';
 @import 'flash_message';
 @import 'direct_message';
 @import 'notification';

html,body {
  text-decoration: none;
  height: 100%;
}

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}

.clear::after{
  content:"";
  clear: both;
  display: block;
}

.submit_btn {
  background-color: $sub-color;
  color: #fff;

  &:hover {
    background-color: #ff8490;
  }
}

.hidden {
  display: none;
}

.form {
  width: 50%;
  background: #F4F4F4;
  border-radius: 10px; 
  border: none;   
  height: 40px;
  margin-bottom: 8px;
}

.large_form {
  height: 150px;
}

/*===============================================
レスポンシブ
================================================*/

@media only screen and (max-width:767px) {
  .container {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .submit_btn {
    width: 100%;
  }
}
 @import "bootstrap";
