@import '_variables';

/*================================
rooms/index
==================================*/

.dm_list {
  p,a {
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }

}

.dm_list_left {
  float: left;

  .dm_list_avatar {
    width: 55px;
    height:55px;
    border-radius: 100px;
    margin-top: 5px;
  }
}
.dm_list_right {
  margin-left: 70px; 

  .msg_created_time {
    float: right;
    color: gray;
  }
}

/*================================
rooms/show
==================================*/

.talkroom {
  padding: 30px;
  margin: 0 auto;
}

.user_link {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
.room_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.msg_avatar {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  padding: 3px;
  background-color: white;
}

.chat {
  margin: 5px;
  top: 3px;
  max-width: 90%;
  float: left;
  
  .talk_content {
    float: right;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    min-height: 35px;

  }
  .talk_img {
    margin-left: 5px;
    float: left;
  }
  
}
.my_talk {
  float: right;
  margin-top: 5px;
  position: relative;
  display: block;
  margin: 5px 0;
  max-width: 90%;
  float: right;
  margin-right: 5px; 
  clear: both;

  .my_talk_content {
    float: left;
    background-color: rgb(255, 206, 206);
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 35px;
  }
  .my_talk_img {
    margin-left: 5px;
    float: right;
  }
}

#messages_area {
  margin-bottom: 30px;
}
#messages_form_area{
  position: absolute;
  bottom: 60px;
  width: 95%;
}
.msg_form.msg_form {
  margin-top: 10px;
  width: 80%;
  padding-left: 10px;
  float: left;
}
.msg_submit {
width: 19%;
float: right;
margin-top: -13px;
}



/*==================================================
レスポンシブ
====================================================*/

@media only screen and (max-width: 1024px) { 
  .talkroom {
    padding: 0px;
    margin: 0 auto;
  }

  .room_title {
    padding-top: 30px;
    padding-left: 10px;
  }
  .msg_form_container {
    width: 95%;
    margin: 0 auto;
      .msg_form {
        width: 100%;
        float: none;
      }
      
      .msg_submit {
        float: none;
        margin-top: 5px;
        width: 100%;
        
    
      }

  }

  #messages_area {
    margin-bottom: 90px;
  }
  #messages_form_area{
    width: 100%;
  }


}