header {
  background-color: #082b48;
  color: white;
}

.header_container {
  padding: 10px 0;
  width: 90%;
  margin:auto; 
}

.header_left {
  float: left;

  .title img{
    width: 170px;
  }
}

.header_right {
  float: right;
}

.new_post_link2 {
  background-color: #eb5e6b;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  margin-top: 25px;
  float: left;
  margin-right: 100px;

  a {
    line-height: 40px;
    text-align: center;
    color: white;
    display: block;
    font-size: 15px;
    margin: 5px 20px;
    margin-top: -1px;
   }
  
}
.new_post_link_response {
  display: none;
}

.header_user_icon img {
  width: 55px;
  height: 55px;
  border-radius: 99px;
  float: right;
  margin-top: -48px;
}

/*=====================================
レスポンシブ
=======================================*/

@media only screen and (max-width:767px) { 

  .title img{
    width: 100px!important;
  }
  .new_post_link2  {
    display: none;
  }

  .header_user_icon {
    float: right;
    img {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    }
  }

  .new_post_link_response {
    display: block;
    background-color: #eb5e6b;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    a {
      line-height: 30px;
      text-align: center;
      color: white;
      display: block;
      font-size: 13px;
     }
  } 
}