header {
  background-color: #082b48;
  color: white;
}

.header_container {
  padding: 12px 0;
  width: 95%;
  margin:auto;
  
}


.header_left {
  float: left;

  .title img{
    width: 200px;
    
  }

  
}

.header_right {
  float: right;
}

.header_user_icon img {
  width: 55px;
  height: 55px;
  border-radius: 99px;
  position: absolute;
  top: 22px;
  right: 25px;

}

