header {
  background-color: #082b48;
  color: white;
}

.header_container {
  padding: 10px 0;
  width: 95%;
  margin:auto;
  
}


.header_left {
  float: left;

  .title img{
    width: 200px;
    
  }

  
}

.header_right {
  float: right;
}

.new_post_link2 {
  background-color: #eb5e6b;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  margin-top: 25px;
  float: left;
  margin-right: 100px;

  a {
    line-height: 40px;
    text-align: center;
    color: white;
    display: block;
    font-size: 15px;
    margin: 5px 20px;
    margin-top: -1px;
   }
  
}

.header_user_icon img {
  width: 55px;
  height: 55px;
  border-radius: 99px;
  float: right;
  margin-top: -48px;
  
}

