@import '_variables';

.pagination {
  justify-content: center;
  
}
.pagination li a {          
  border: none;    
  color: black;
}
.pagination>.active>a {     
  background-color: $sub-color!important;    
}

.page-item a{
  border-radius: 5px;
}