.pagination {
  justify-content: center;
  
}
.pagination li a {          
  border: none;    
  color: black;
}
.pagination>.active>a {     
  background-color: #eb5e6b!important;    
}

.page-item a{
  border-radius: 5px;
}


/*=========================================
レスポンシブ
==========================================*/
@media only screen and (max-width:767px) {
}