@import '_variables';

.container {
  width: 99%;
  margin-top: 30px;

  .content_left {
    width: 70%;
    float: left;
  }
  
  .content_right {
    width: 27%;
    float: right;
    height: auto;
    border-left: 1px solid lightgray;
    padding-left: 25px;
  }
}

.area_wrap {
  margin-bottom: 30px;

  .area_name {
    margin-bottom: 1px; 
    font-size: 14px;
  }

  .area_container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    a {
      color: lightslategrey;
      margin-right: 20px;
      font-size: 12px;
    }
  }

  .area_more_btn {
    float: right;
    font-size: 12px;
    color: lightslategrey;
    cursor: pointer;
  }
}

.link_container {
  margin: 20px 0;
  .content_right_link{
    border: 1px solid #000;
    background: #fff;
    padding: 10px;
    p {
      color: black;
      font-size: 13px;
      margin: auto 0;
    }
    &:hover {
      background: $sub-color;
      p {
        color: #fff;
      }
    }
  }
}

.tag_wrap {
  margin-bottom: 30px;
  a {
    color: lightslategrey;
    font-size: 12px;
  }
  .tag_index_link {
    float: right;
  }
}

.search_btn:hover {
  background-color:#f27985;
}

.post_container {

  margin-top: 30px;
  width: 100%;
  margin-bottom: 20px;
  a {
    color: black;
    text-decoration: none;

  }
  a:hover {
    color: black;
    text-decoration: none;
  }

  .post_container_left {
    width: 30%;
    float: left;

    .thumbnail {
      width: 100%;
      height: 90%;
      border-radius: 3px;
      object-fit: cover;
      border: 1px solid #ccc;
    }

  }
  #noimage_thumbmail {
    height: auto;
  }
  
  .post_container_right {
    width: 65%;
    float: right;
    color: black;
    
    .post_title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      float: left;
    }
    .post_content_index {
      margin-bottom: 10px;
    }
  }
} 
.user_info {
  text-decoration: none;
  .post_user_avatar {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    float: left;
    object-fit: cover;
  }
  .post_username {
    margin-left: 40px;
    padding-top: 3px;
    color: black;
  }
}

.post_heart img{
  width: 30px;
  float: right;
  margin-right: 20px;
}

.response_top_page{ 
  display: none;
}


.post_page_title {
  margin-top: 15px;
  font-weight: bold;
}

/*===============================
post/show
=================================*/

.post_show_container {
  width: 50%;
  margin-left: 50px;
  float: left;

  .post_show_title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    float: left;
  }
  .show_heart img{
    margin-top: 5px;
    
  }
  .link_container{
    margin-bottom: 20px;
    a {
    color: lightgray;
    float: right;
    margin-top: 5px;
    }
  }
  .post_place_description {
    font-size: 15px;
    border-bottom: 1px solid lightgray;
  }
  .post_content_description {
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
  }
  .post_tag_description {
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
  
  }
  .post_url_description {
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
  }

  .post_url_description {
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
  }
}

.comment_index {
  font-size: 15px;
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
}
.add_comment_btn {
  width: 100%;
}
.comment_container {
    margin-bottom:15px;
}
.comment_content {
  margin-top: -10px;
  float: left;
}
.comment_delete {
  color: lightgray;
  float: right;
}
.comment_form.comment_form {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.new_post_icon img{
  width: 60px;
  z-index: 200px;
  border-radius: 1000px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/*==================================================
レスポンシブ
====================================================*/

@media only screen and (max-width: 1024px) {
  .post_show_container {
    width: 80%;
  }
}

@media only screen and (max-width:767px) {

  .content_left.content_left {
    width: 100%;
  }
  .content_right {
    display: none;
  }

  .post_container_left.post_container_left {
    width: 100%;
    img {
      width: 90%;
      border-radius: 20px!important;
      display: block;
      margin: 0 auto;
    }
  }
  .post_container_right.post_container_right {
    margin-top: 10px;
    width: 95%;
    .post_title {
      width: 80%;
    }
  }

  .response_top_page {
    display: block;

    .response_search {
      display: block;
      height: 250px;
      background-image: image-url('background-couple.jpg');
      background-size: cover;
      background-color:rgba(255,255,255,0.3);
      background-blend-mode:lighten;
      
      .response_search_form {
        padding-top: 50px;
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  
    .response_area_search  {
      width: 80%;
      margin-top: 30px!important;
      display: block;
      margin:  0 auto;
    }
  
    .tag_wrap {
      margin-top: 10px;
      width: 80%;
      display: block;
      margin:  0 auto;
    }
  }

  .thumbnail {
    min-height: 220px;
  }

  .response_link_background{
    .link_wrap {
      width: 80%;
      margin-top: 30px;
      margin: 0 auto;

      .response_link {
        a {
          margin-top: 10px;
          border: 1px solid #000;
          border-radius: 0;
          padding: 10px;
          background: #fff;
          color: black;
      }
        a:hover {
          color: #fff;
          background:$sub-color;
        }
      }
    }
  }

  /*==================================
  show
  ====================================*/
  .post_show_container {
    width: 100%;
    margin-left: 0px;

    .post_show_title {
      font-size: 20px;
    }
  
    .show_heart img{
      margin-right: 0px;
    }
  
    .link_container{
      margin-right: 0px;
    }
  }
}
