.profile_username {
  font-size: 20px;
  font-weight: bold;
}

.profile_avatar {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  cursor: pointer;

}

.follow_btn {
  color: #fff;
  margin-top: 20px;
  a {
    color: #fff;
  }
}

.avatar_form {
  position: absolute;
  top: 500;
  left: 100;
  z-index: 100;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  width: 350px;
}

.profile_post_container {
  width: 60%;
  margin-top: 50px;
}

.account_show_left {
  float: left;
}

.account_show_right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  a {
    color: black;
  }
  .follow_count {
    text-align: center;
  }
}
.prof {
  margin-left: 100px;
  margin-top: -100px;
}


/*========================
フォロー、フォロワー一覧ページ
==========================*/

.follow_title {
  font-weight: bold;
}
.follow_list_avatar {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  float: left;
  margin-right: 30px;
}

.follow_name  {
  line-height: 40px;
  color: black;
}


/*===============================================
レスポンシブ
================================================*/

@media only screen and (max-width:767px) {
  .profile_post_container  {
  width: 100%;
  }
  
  .profile_submit_btn {
    width: 25%!important;
  }
  .account_show_right  {
    width: 70%;
  }

  .account {
    width: 200px;
    margin-top: 40px;
    margin-left: 130px;

  }
}
