/*===================
questions/index
=======================*/

.question_index_container {
  width: 80%;
  margin: 0 auto; 

  .questions_index_title {
    margin-top: 20px;
    letter-spacing: 1px;
  
  }

  .questions {
    text-decoration: none;
    margin-bottom: 25px;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 10px;

    a:hover {
      text-decoration: none;
    }
  
    .questions_title {
      font-size: 16px;
      color: black;
      font-weight: bold;
      margin-bottom: 5px;
  
    }
  
    .questions_content {
      color: black;
      font-size: 15px;
    }
  
  }
}
/*===================
questions/show
=======================*/
.question_show_container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;

  .question_title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .question_content {
    margin-top: 20px;
  }
}
.answer_form.answer_form {
  width: 50%;
  height: 150px;
}
.answer_btn {
  width: 50%;
}

.question_link a{
  color: lightgrey;
  float: right;
}

/*===================
questions/new
=======================*/ 
.question_new_container {
  width: 80%;
  margin: 0 auto;

  .question_new_top {
    margin-top: 15px;
  }
  .question_submit {
    width: 50%;
  }
}

/*===================
レスポンシブ
====================*/ 
@media only screen and (max-width:767px) {
  .question_title {
    font-size: 20px;
  }
  .answer_form.answer_form {
  width: 100%;
  height: 150px;
}

  .question_submit {
    width: 100%;
  }
}

